.videoRightSideBar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    padding: 0 15px 0 0;
}
/* Playlist Container */
.videoPlaylistSidebar {
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255,0.1);
}

/* Header */
.videoPlaylistSidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 255, 255,0.1);
  font-weight: bold;
}
.collapsed{
  display: none;
}
/* Playlist List */
.videoPlaylistSidebarList {
  overflow-y: auto;
}

.videoPlaylistSidebarItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
}
.videoPlaylistSidebarThumbnailBox{
  min-width: 120px;
  position: relative;
  box-sizing: border-box;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.videoPlaylistSidebarItemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.videoPlaylistSidebarDuration {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: auto;
  padding: 2px 5px;
  background-color: rgba(23, 23, 23, 0.6);
  border-radius: 7px;
  font-size: 0.8em;
}
.videoPlaylistSidebarTitle {
  flex: 1;
  font-weight: bold;
}
.videoPlaylistSidebarChannel{
  color: #aaa;
  font-size: 0.8em;
}


.videoPlaylistSidebarItem.active {
  background-color: #6a0f6a;
}
@media (max-width: 950px) {
    .videoRightSideBar {
        padding: 20px 0 0 0;
        width: 100%;
    }
}