.friend-message {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.friend-pic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.friend-message .text {
    background-color: #3e4042;
    color: white;
    max-width: 70%;
    padding: 10px;
    border-radius: 20px;
    margin-left: 5px;
}