.fullHomePage {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}
.homePage {
    display: flex;
    margin-left: 260px;
    min-height: 100vh;
}
.homePage_options {
    display: flex;
    position: fixed;
    top: 56px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    flex-shrink: 0;
    height: auto;
    overflow-x: scroll;
    background-color: #0F0F0F;
    padding: 10px 20px;
}
.homePage_options::-webkit-scrollbar {
    width: 12px;
}
.homePage_option {
    flex: 0 0 auto;
    height: 30px;
    padding: 1px 10px;
    background-color: rgb(42, 42, 42);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.home_mainPageWithoutLink,
.home_mainPage {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0F0F0F;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 25px;
    padding: 120px 20px 20px 20px;
}
.youtube_Video {
    color: white;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    cursor: pointer;
    max-width: 100%;
}
.youtube_thumbnailBox {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.youtube_thumbnailPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.youtube_timingThumbnail {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 1px 2px;
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
}
.youtubeTitleBox {
    display: flex;
    padding-top: 15px;
    justify-content: left;
}
.youtubeTitleBoxProfile {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.youtube_thumbnail_Profile {
    object-fit: cover;
    width: 45px;
    border-radius: 100%;
}
.youtubeTitleBox_Title {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.youtube_videoTitle {
    font-weight: 600;
    font-size: 16px;
}
.youtube_channelName {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(170,170,170);
}
.youtubeVideo_views {
    font-size: 14px;
    color: rgb(170,170,170);
}
@media (max-width: 1400px) {
    .youtube_Video {
        width: calc(33% - 14px);
    }
}
@media (max-width: 1200px) {
    .youtube_Video {
        width: calc(50% - 14px);
    }
}
@media (max-width: 768px) {
    .youtube_Video {
        width: calc(100% - 14px);
    }
    .homePage {
        margin-left: 0;
    }
    .homePage_options {
        padding: 10px;
    }
    .home_mainPage {
        padding: 80px 10px 20px 10px;
    }
}
@media (max-width: 480px) {
    .homePage_options {
        padding: 8px;
    }
    .youtube_Video {
        width: calc(100% - 14px);
    }
}