.video {
    background-color: #0F0F0F;
    margin-top: 56px;
    display: flex;
    color: white;
    padding: 30px 0;
    justify-content: center;
}

.videoPostSection {
    width: 100%;
    padding: 0 20px;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
}

.video_youtube {
    width: 100%;
}

.video_youtube_video {
    width: 100%;
    border-radius: 10px;
}

.video_youtubeAbout {
    display: flex;
    flex-direction: column;
}

.video_uTubeTitle {
    font-size: 20px;
    font-weight: 700;
}

.youtube_video_ProfileBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
}

.youtube_video_ProfileBlock_left {
    display: flex;
    gap: 15px;
}

.youtube_video_ProfileBlock_left_img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.youtube_video_ProfileBlock_left_image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.youtubeVideo_subsView {
    display: flex;
    flex-direction: column;
    height: 36px;
    justify-content: center;
}

.youtubePostProfileName {
    font-weight: 500;
    font-size: 1em;
}

.youtubePostProfileSubs {
    font-size: 1em;
    color: #AAAAAA;
}

.subscribeBtnYoutube {
    background-color: white;
    color: black;
    padding: 0px 16px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    font-size: 1em;
}

.youtube_video_likeBlock {
    display: flex;
    gap: 10px;
    background-color: #a5a5a538;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 18px;
    height: 36px;
    align-self: center;
    cursor: pointer;
}

.youtube_video_likeBlock_Like {
    display: flex;
    gap: 10px;
}

.youtube_video_likeBlock_NoOfLikes {
    font-weight: 500;
}

.youtubeVideoDivider {
    width: 0px;
    height: 20px;
    border: 1px solid;
}

.youtube_video_About {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #a5a5a538;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    font-weight: 500;
    font-size: 1em;
    gap: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.youtubeCommentSection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.youtubeCommentSectionTitle {
    font-size: 1em;
    font-weight: 500;
}

.youtubeSelfComment {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.video_youtubeSelfCommentProfile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.addAComment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addAcommentInput {
    width: 100%;
    background-color: transparent;
    color: white;
    height: 36px;
    border: none;
    font-size: 1em;
    border-bottom: 1px solid gray;
}

.addAcommentInput:focus {
    outline: none;
}

.addAcommentInput::placeholder {
    font-size: 1em;
}

.cancelSubmitComment {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.cancelComment {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
}

.cancelComment:hover {
    background-color: white;
    color: black;
}

.youtubeOthersComments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.youtubeOthersComments .youtubeSelfComment {
    align-items: center;
}

.others_commentSection {
    display: flex;
    flex-direction: column;
}

.others_commentSectionHeader {
    display: flex;
}

.channelName_comment {
    font-size: 1em;
    font-weight: 500;
}

.commentTimingOthers {
    font-size: 1em;
    color: #AAAAAA;
}

.otherCommentSectionComment {
}

/* ------------------------------------ */
.videoSuggestions {
    width: 100%;
    gap: 15px;
    color: white;
    display: flex;
    flex-direction: column;
}

.videoSuggestionsBlock {
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
}

.video_suggestion_link {
    display: flex;
    gap: 10px;
}

.video_suggetion_thumbnail {
    width: 168px;
    height: 94px;
    overflow: hidden;
    border-radius: 15px;
}

.video_suggetion_thumbnail_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_suggetions_About {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.video_suggetions_About_title {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 5px;
}

.video_suggetions_About_Profile {
    color: #ffffff9c;
    font-size: 1em;
}
@media (max-width: 1250px) {
    .videoPostSection {
        min-width: 850px;
    }
}
/* Responsive Styles */
@media (max-width: 1150px) {
    .video{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .videoPostSection {
        width: 100%;
        min-width: 900px;
    }
    .videoSuggestions{
        width: 100%;
        padding: 20px;
    }
}
@media screen and (max-width: 900px) {
    .videoPostSection {
        min-width: 100%;
    }
    .video_youtube_video {
        width: 100%;
    }
    .video_youtubeAbout {
        padding: 0 10px;
    }
    .youtube_video_ProfileBlock {
        gap: 10px;
    }
    .youtube_video_ProfileBlock_left {
        gap: 10px;
    }
    .youtube_video_likeBlock {
        gap: 5px;
    }
    .youtube_video_About {
        padding: 10px;
    }
    .youtubeCommentSection {
        padding: 10px;
    }
    .youtubeSelfComment {
        gap: 5px;
    }
    .addAComment {
        gap: 5px;
    }
    .cancelSubmitComment {
        gap: 5px;
    }
    .youtubeOthersComments {
        gap: 5px;
    }
    .video_suggestion_link {
        gap: 5px;
    }
    .video_suggetions_About {
        gap: 2px;
    }
}