.fullSocialMediaPage{
    display: flex;
    min-height: 100vh;
}
.socialMediaPage{
    display: flex;
    flex: 1;
    min-height: 100vh;
    margin-left: 260px;
    width: 100%;
    padding: 20px;
}
.main-content{
    padding: 0 20px 0 0;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 15px;
    align-self: flex-start;
    background: rgb(26, 26, 26);
    padding: 20px;
    border-radius: 4px;
    color: #ffff;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 18px;
}

.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;

}

.online-list{
    display: flex;
    flex-direction: column;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}

.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #626262;
}

.story i{
    position: absolute;
    width: 45px;
    top: 10px;
    left: 10px;
    font-size: 40px;
    color: #fff;
}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.story1{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://inkythuatso.com/uploads/thumbnails/800/2023/01/2-meme-meo-cute-hoi-cham-17-16-19-25.jpg);
}

.story2{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/736x/ff/2e/19/ff2e19b2935505fb938ed634f6643b68.jpg);
}

.story3{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/ea/1b/b8/ea1bb8dbc5b7eadf836b3a617377b7ff.png);
}

.story4{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/65/c5/f5/65c5f523864a594affbcb70785f02b51.jpg);
}

.story5{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/2d/2f/8b/2d2f8b0c5454dfd98144f3c86b65b6ab.jpg);
}

.story .story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.write-post-container{
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
}

.user-profile{
    display: flex;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #ffffffff;
}

.user-profile small{
    font-size: 12px;
}

.post-input-container, .comment-input{
    display: flex;
    align-items: center;
    padding-left: 55px;
    padding-top: 20px;
    width: 100%;
}

.post-input-container textarea, .comment-input input{
    width: 100%;
    border: 0;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add-post-links a{
    text-decoration: none;
    align-items: center;
    color: #ffff;
    margin-right: 30px;
    margin-left: 10px;
    size: 14px;
    cursor: pointer;
}

.add-post-links a i{
    margin-right: 5px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background-color: rgb(26, 26, 26);
    border-radius: 6px;
    padding: 20px;
    color: white;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.user-profile span{
    font-size: 13px;
    color: #ffffff;
}

.post-text{
    color: #ffffffff;
    margin: 15px 0;
    font-size: 15px;
    display: flex;
    width: 100%;
}

.post-text span{
    color: #ffffffff;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;
}

.img-post {
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    display: flex;
    position: relative;
}
.img-post img {
    display: flex;
    position: relative;
    align-self: center;
}

.post-img{
    width: auto;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.activity-icons div .fas, .fa-regular{
    width: 18px;
    margin-right: 5px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin: 5px;
}

.post-row a{
    color: #ffffff;
}

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #ffff;
    background: transparent;
    border-radius: 4px;
}

.post-button{
    display: block;
    margin-top: 42px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #ffff;
    background: transparent;
    border-radius: 4px;
}

.comment-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Căn chỉnh phần nội dung và avatar theo hàng trên cùng */
    margin-top: 8px;
    
}
.comment-post{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.comment-avatar {
    flex-shrink: 0; /* Ngăn avatar co lại hoặc di chuyển */
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-details {
    display: flex;
    flex-direction: column; /* Các phần tử con xếp theo chiều dọc */
    flex-wrap: wrap;
    position: relative;
    width: auto; /* Đảm bảo chiều rộng tự động theo nội dung nếu không muốn full width */
    padding: 5px 15px 15px 15px;
    background: #272727;
    border-radius: 10px;
}

.comment-details p {
    word-break: break-word; /* Ngắt từ nếu quá dài */
    white-space: normal; /* Cho phép ngắt dòng nếu cần */
    padding: 0;
    margin: 0;
}

.comment-user{
    white-space: nowrap; /* Giữ tên người dùng trên một dòng */
    font-weight: bold;
}

.comment-text{
    white-space: normal; /* Cho phép xuống dòng trong nội dung bình luận */
}

.comment-icon {
    margin: 20px 0 0 10px;
    align-self: flex-start;
}

.comment-button, .reply-button{
    display: block;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #ffff;
    background: transparent;
    border-radius: 4px;
}
.reply-input{
    display: flex;
    align-items: center;
    padding-left: 55px;
    padding-top: 20px;
    width: 100%;
}
.reply-input input{
    width: 100%;
    border: 0;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}